<html>
	<head>
		<link rel="stylesheet" type="text/css" href="./css/resets.css">
		<link rel="stylesheet" type="text/css" href="./css/styleerror.css">
		<title>Error Message!</title>
	</head>

	<body>
<p>

</p>

	<p1>
		You need to post both items for the best results!
	</p1>



	</body>

</html>
