h1 {
	padding-top: 87px;
	padding-bottom: 8px;
	font-family: "Book Antiqua", serif;
	text-align: center;
	font-size: 38px;
	/*text-shadow: 2px 2px 8px blue;*/
	color: black;
}

body {
	background-image: url(http://i.imgur.com/GMO1DSH.png);
	background-size: cover;
	background-color: black;
	font-family: monospace;
	font-size: 15px;
	text-align: center;
	text-shadow: 2px 2px 8px brown;
	padding-left: 55px;
}

table, th, td {
	 /*padding-top: 90px;*/
	 /*margin-top: 10px;
	 padding-left: 350px;
	 margin-right: 250px;*/
	 /*width: 50px;*/
	 /*height: 50px;
	 padding-right: 610px;*/
   /*border: 2px solid black;*/
	 /*color: black;*/
	 margin: 0 auto;
	 color: black;
	 padding-top: 50px;
	 border: 2px solid black;
	 margin-top: 50px;
}

tr {

}

a {
	padding-top: 25px;
}

p {
	padding-top: 20px;
	padding-bottom: 20px;
	color: black;
}
